<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cashman</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <p th:text="${message}">

    </p>

    <p>
        Enter in the amount of money to withdraw:
    </p>
    <form>
    <input type="text" name="amount" value="0" />
    <input type="submit" />
    </form>
</body>
</html>